@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: linear-gradient(109.6deg, #9cfcf8 11.2%, #6e7bfb 91.1%);
  --primary: #03045e;
  --secondary: #0077b6;
  --accent: #00b4d8;
  --surface: #90e0ef;
  /*--background: #caf0f8;*/
}

@media (prefers-color-scheme: light) {
  :root {
    --background: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
    --foreground: #caf0f8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
